

-# <div class='container'>
-#   <h1 class="white-text">SkillSet</h1>
-#     <a class="waves-effect waves-light btn" href="/skills"><i class="material-icons left">apps</i>Skill Index</a>
-#     <a class="waves-effect waves-light btn" href="/skills/new"><i class="material-icons left">done</i>Add New Skill</a>
-# </div>

.container
  %h1.white-text SkillSet
  %a.waves-effect.waves-light.btn{ href: '/skills' }Skill Index
  %a.waves-effect.waves-light.btn{ href: '/skills/new' }Add New Skill
